html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  background-color: #fafafa;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.navbar__logo, .navbar__menu, .navbar__menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  background-color: #fafafa;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}

.navbar__logo {
  cursor: pointer;
  margin-left: 30px;
}

.navbar__bars {
  opacity: 0;
}

@media screen and (max-width: 960 px) {
  .navbar__bars {
    color: #2d314d;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 1rem;
  }
}

.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 28px;
}

@media screen and (max-width: 960 px) {
  .navbar__menu {
    display: none;
  }
}

.navbar__menu__links {
  color: #2d314d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}

.navbar__menu__links:hover {
  color: #31d35c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__menu #button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to right, #2bb7da, #31d35c);
}

.navbar__menu #button:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#2d314d));
  background-image: linear-gradient(to right, #2bb7da, #2d314d);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hero {
  width: 100vw;
  margin: 0;
}

.hero__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  width: 100vw;
  max-width: 1200px;
  padding-right: 28px;
}

@media screen and (max-width: 960 px) {
  .hero__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    height: 100%;
  }
}

.hero__container__left {
  width: 100%;
  line-height: 1.2;
}

@media screen and (max-width: 960 px) {
  .hero__container__left {
    padding: 5rem 0;
  }
}

.hero__container__left h1 {
  font-size: 3rem;
  color: #2d314d;
  margin-left: 40px;
}

@media screen and (max-width: 960 px) {
  .hero__container__left h1 {
    font-size: 1.5rem;
  }
}

.hero__container__left p {
  font-size: 2rem;
  color: #2d314d;
  margin-top: 1rem;
  font-weight: 700;
  margin-left: 40px;
}

@media screen and (max-width: 960 px) {
  .hero__container__left p {
    font-size: 1.5rem;
  }
}

.hero__container__left button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to right, #2bb7da, #31d35c);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  position: relative;
  cursor: pointer;
  margin-left: 40px;
}

.hero__container__left button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#2d314d));
  background-image: linear-gradient(to right, #2bb7da, #2d314d);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.hero__container__left button:hover:after {
  width: 100%;
}

.hero__container__right__big {
  width: 150%;
  height: 150%;
  z-index: -1;
}

.hero__container__btn a {
  position: relative;
  z-index: 2;
  color: #f3f4f6;
}

.hero__container__right {
  text-align: center;
}

.banner {
  position: relative;
  width: 100vw;
}

.banner__text {
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0.5rem calc((100vw - 800px) / 2);
  color: #fafafa;
  font-size: 1.5rem;
}

.banner img {
  margin: 0;
  width: 80vw;
  z-index: -1;
}

.fake-button {
  margin-top: 20px;
}

.signup h1 {
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  left: 30px;
}

.signup__entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
  border-radius: 50px;
  height: 50px;
  margin: 20px 20px 20px 20px;
}

.signup__entry__lable {
  font-size: 0.8rem;
  color: #31d35c;
}

.signup__entry img {
  height: 50px;
}

.signup__entry input {
  border: none;
  outline: none;
  background-color: lightgrey;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.underline {
  border-radius: 5px;
  height: 5px;
  background-color: #9698a6;
  color: #9698a6;
}

#clear {
  margin-top: 40px;
  font-weight: 200;
  font-size: 1rem;
  padding-top: 10px;
  padding-left: 15px;
  height: 40px;
  width: 90px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to right, #2bb7da, #31d35c);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
  margin-left: 40px;
}

#clear:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#2d314d));
  background-image: linear-gradient(to right, #2bb7da, #2d314d);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

#clear:hover:after {
  width: 100%;
}

#clear a {
  color: #2d314d;
  text-decoration: none;
}

.signature_up {
  margin-top: 40px;
}

.showlong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 299;
  font-size: 1rem;
  height: 40px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#31d35c));
  background-image: linear-gradient(to right, #2bb7da, #31d35c);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
  margin-left: 40px;
}

.showlong:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#2bb7da), to(#2d314d));
  background-image: linear-gradient(to right, #2bb7da, #2d314d);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
}

.showlong:hover:after {
  width: 100%;
}

.showlong a {
  color: #2d314d;
  text-decoration: none;
}

.buttongroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.delete {
  border: none;
  margin-left: 40px;
}
/*# sourceMappingURL=style.css.map */