<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "styles.css"/>
    <title>Petition
    </title>
</head>
<body>
    <header><container><div><h1>Sign our petition to push Sbahn ticket back to 2,90 Euro!</h1></div> </container></header>
    <main>
    {{{body}}}
    </main>
    <script src = "canvas.js"></script>
</body>
</html>