<h1>Let digital banking be child-friendly</h1>
                            <p>Hand-sign out petition to support the initiative</p>
<div><button class = 'fake-button' onclick="location.href='/thanks'" id = "signup" type="button">Check your signature</button></div>
