<h1>Digital banking should be child-friendly</h1>
                            <p>Hand-sign out petition to support the initiative</p>
<div><button onclick="location.href='/signup'" id = "signup" type="button">Signup</button></div>