<h1>Banks go 100% paperless</h1>
                            <p>Sign up here to sign your petition</p>
 <button class = "hero__container__btn">
                                <a href ="/">Sign Up</a>
                            </button>