<form method="POST">
     
        <div class="entry">{{#if uncomplete}}
            <h6>Please complete your signing before submission</h6>
            {{/if}}
        </div>
<input type="hidden" name="_csrf" value="{{csrfToken}}">
 <canvas id = "canvas" width="500px" height="100px"></canvas>
 <button id = "clear">resign</button>
 <input type = "text" name = "canvasimg" id = "canvasimg" visibility = 'hidden'></input> 
       <div><button type="submit">Submit</button></div>
    </form>
  
