             <div class ='signup'>
              <h1>Add Profile </h1>   
                   
                    <form method="POST">
    <div class = 'signup__entry'>
        <img src="./app/images/icon-online.svg" alt="firstimg">
        <input type="text" id= "age" name ="age" placeholder="Age"></input>
    </div>
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
<div class = 'signup__entry'> 
       <img src="./app/images/icon-budgeting.svg" alt="emailimg"> 
  <input type="text" id="city" name = "city" placeholder="City"></input>
</div>
   
<div class = 'signup__entry'>  
    <img src="./app/images/icon-onboarding.svg">
 <input type="text" id="url" name = "url" placeholder="Personal url"></input>
 </div>
 

 
           <div><button type="submit">Submit</button></div>
 
    </form>
    </div>