<form method="POST">
    <div>
        <label for="age">Age</label>
        <input type="text" id= "age" name ="age"></input>
    </div>
     <input type="hidden" name="_csrf" value="{{csrfToken}}">
<div>
 <lable for="city">City</lable>
  <input type="text" id="city" name = "city"></input>
</div>
   
<div> <lable for="url">Personal URL</lable>
 <input type="text" id="url" name = "url"></input>
 </div>
 <div>
    <lable for="statement">Personal Statement</lable>
    <textarea type="text" id="statement" name = "statement" > Anything to say?</textarea>
    </div>

 
           <div><button type="submit">Submit</button></div>
 
    </form>
  