<container>
    <h1>thank you!{{firstname}} {{lastname}}</h1>
    <div>
<img id = 'canvasimg' src = "{{img}}"/>
<a href = "/petition/signers">See all {{signedNumber}} signers</a>
<form method = 'post'><input type = 'submit' name = 'delete' value = 'delete'/></form>
</div>
</container>
