<container>
    <h1>thank you!</h1>
    <p>{{firstname}} {{lastname}}</p>
    <div>
<img id = 'canvasimg' src = "{{img}}"/>

<button class = 'showlong' onclick="location.href='/petition/signers'" id = "signup" type="button">See all {{signedNumber}} signers</button>
<form method = 'post'><input class = 'delete' type = 'submit' name = 'delete' value = 'Delete my signature'/></form>
</div>
</container>