<container>
    <h1>thank you!</h1>
    <p>{{firstname}} {{lastname}}</p>
    <div>
<img id = 'canvasimg' src = "{{img}}"/>
<div class = "showlong" ><a href = "/petition/signers">See all {{signedNumber}} signers</a></div>
<form method = 'post'><input class = 'delete' type = 'submit' name = 'delete' value = 'delete'/></form>
</div>
</container>